
.area-titulo{
    display: inline-block;
    background-color: #3A4042;
    width: 500px;
    height: 100px;
    box-shadow: 10px 10px 0 #000000;
    text-align: center;
    padding: 45px 44px;


    /* margin-top: 116px;
    margin-left: 91px;
    margin-bottom: 40px;
    align-items: center;
 */
}

.area-titulo .title{
    margin-bottom: 28px;
}
