.area-da-foto{
    box-sizing: border-box;
    background-image: url(../../assets/img/Group1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid black;
    
}

.area-da-foto .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
    padding-left: 90px;
    padding-top: 115px;

}

.area-da-foto .area-titulo{
    margin-bottom: 40px;

}

.area-da-foto .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}