
.main-button{
    background-color: #F25A70;
    display: inline-block;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0px;
    transition: transform 1s linear;
    font-family: "Fira Code", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;

}

.main-button:hover {
    color: black;
    transform: scale(1.09);
}