.tecnologias{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    box-sizing: border-box;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    
}

.tecnologias .skill-tec{
    width: 430px;
    margin-bottom: 40px;
}

.skill-tec .title{
    margin-bottom: 1opx;
}

.tecnologias .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.tecnologias .progress-bar{
    width: 320px;
}

/*
.bloco-linguagem{
    display: flex;
    margin-bottom: 38px;
}



.titulo-barra{
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 4px;
}

.linguagem{
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-bottom: 16px;
}


.barra{
    display: flex;
    content: " ";
    width: 320px;
    height: 40px;
    background-color: #fff;
    border: 5px solid #000;
}

.barra::before{
    content: "";
    width: 50%;
    background-color: #7C5E99;
}

.barra3{
    display: flex;
    content: " ";
    width: 320px;
    height: 40px;
    background-color: #fff;
    border: 5px solid #000;
}

.barra3::before{
    content: "";
    width: value();
    background-color: #7C5E99;
} */