.texto-sobre{
    font-family:  "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
    color: #FFF;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}