.title{
    color: #F25A70;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 0px #000000;

    line-height: 40px;
    padding-top: 30px;
}

.title.-second{
    color: #fff;
    text-shadow: none;
    text-align:center;
}